<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>home</title>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
 
    </head>
    <body>
        <h1>Hello burgers</h1>
        <form action="/burgers" method="POST">
    		<input type="text" name="burger[name]" placeholder="what's your burger?">
    		<button>SEND REQUEST</button>
		</form>
    </body>
</html>